asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
absl-py 
ace-tools 
aeppl 
aesara 
affine 
aiohttp 
aiosignal 
analytics-python 
annotated-types 
anyio 
anytree 
argon2-cffi 
argon2-cffi-bindings 
arviz 
asn1crypto 
asttokens 
attrs 
audioread 
babel 
backoff 
basemap 
basemap-data 
bcrypt 
beautifulsoup4 
bleach 
blinker 
blis 
blosc2 
bokeh 
branca 
Brotli 
cachetools 
cairocffi 
CairoSVG 
camelot-py 
catalogue 
certifi 
cffi 
chardet 
charset-normalizer 
click 
click-plugins 
cligj 
cloudpathlib 
cloudpickle 
cmake 
cmudict 
comm 
confection 
cons 
contourpy 
countryinfo 
cryptography 
cssselect2 
cycler 
cymem 
Cython 
databricks-sql-connector 
debugpy 
decorator 
defusedxml 
dlib 
dnspython 
docx2txt 
einops 
email_validator 
entrypoints 
et_xmlfile 
etuples 
exchange-calendars 
executing 
Faker 
fastapi 
fastapi-cli 
fastjsonschema 
fastprogress 
ffmpeg-python 
ffmpy 
filelock 
Fiona 
Flask 
Flask-CacheBuster 
Flask-Cors 
Flask-Login 
folium 
fonttools 
fpdf 
frozenlist 
future 
fuzzywuzzy 
gensim 
geographiclib 
geopandas 
geopy 
gradio 
graphviz 
gTTS 
h11 
h2 
h5netcdf